/* @import url('https://fonts.googleapis.com/css2?family=Arvo:wght@700&display=swap'); */
body {
  font-family: 'montseratt', sans-serif;
}

.btn{
  width:50%;
  margin-left:25%;
  margin-right:25%;
  margin-top: 20px;
}

.impText{
  font-size: 100%;
  font-weight: 500;
}
.logo{

  font-family:  'Hoefler Text', Georgia, 'Times New Roman', serif;
	font-weight: normal;
  font-size: 2.3em;
	letter-spacing: .3em;
	line-height: 1.1em;
	margin-top: 20px;
  margin-bottom: 30px;
	text-align: center;

}

.center{
  padding: 15px;
  position: absolute;
  width: 50%;
  top: 45%;
  left: 50%;
  -ms-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translate(-50%,-50%);
  transform: translate(-50%,-50%);
}
/* .btnn{
  text-decoration: none;
  padding: 20px 50px;
  font-size: 1.25rem;
  position: relative;
  margin: 32px;
  font-family: 'Arvo', serif;
}

.btn1{
  background: #000;
  color: #fff;
  border-radius: 30px;
  transition: transform 0.3s ease;
}

.btn1::after, .btn1::before{
  content: "";
  position: absolute;
  opacity: 0.3;
  background: #000;
  border-radius: inherit;
  width: 100%;
  height: 100%;
  left:0;
  bottom:0;
  z-index: -1;
  transition: transform 0.3s ease;
}

.btn1:hover{
  transform: translate(-12px, -12px)
}
.btn1:hover::after{
  transform: translate(6px, 6px)
}
.btn1:hover::before{
  transform: translate(12px, 12px)
} */

.btnnn{
  margin-top: 1rem;
  padding: 10px 40px;
  background: #000;
  color: #fff;
  text-transform: uppercase;
  border:none;
  letter-spacing: 1px;
}
.App {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input{
  padding: 10px;
  width:300px;
  max-width: 90%;
  font-size: 1rem;
  letter-spacing: 1px;
}

.container{
  margin-top: 5px;
  margin-bottom: 5px;
}

.error{
  color: red;
  font-size: 16px;
}