@import url('https://fonts.googleapis.com/css2?family=Balthazar&display=swap');

.occupyFull{
  height: 100vh;
  margin: 0;
  display:flex;
  flex-direction:column;
  justify-content:center;
  font-size:60px;
  align-items:center;
}
.logo{

  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "Balthazar";
	font-weight: normal;
  font-size: 2.3em;
	letter-spacing: .3em;
	line-height: 1.1em;
  background-color: #101010;
  color: #fff;
	text-align: center;
  padding: 30px;
  box-shadow: 0px 10px 20px #888888;
}

.center
{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 height: 80vh;
 margin-top: -40px;
}



.App {
  height: 80vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.input{
  padding: 10px;
  width:300px;
  max-width: 90%;
  font-size: 1rem;
  letter-spacing: 1px;
}

.error{
  color: red;
  font-size: 16px;
}

.accordionSection{
  position: relative;
  height: 100vh;
  transition: all .3s ease; 
  margin-top: 60px;
  
}

.button {
  font-family: "Copperplate Gothic Bold", "Copperplate Gothic Light", Copperplate, "Balthazar";
  display: inline-block;
  margin-bottom: 10px;
  margin-top:10px;
  color: #fff;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding: 8px 25px;
  background: black;
  /* letter-spacing: 1px; */
  border: solid thin;
}
.button:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #fff;
}
.button span {
  position: relative;
  z-index: 1;
}

.button1 {
  display: inline-block;
  margin-bottom: 10px;
  margin-top:10px;
  color: #333;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  background: #fff;
  letter-spacing: 2px;
  width: 15rem;
  border: solid thin;

}

.button1:before {
  content: '';
  display: block;
  position: absolute;
  background-color: #333;
}
.button1 span {
  position: relative;
  z-index: 1;
}
.btn1 {
  transition: background 0.15s, color 0.25s;
  margin-top: 1rem;
}
.btn1:before {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  transform-origin: center top;
  transform: scale(1, 0) translateZ(0);
  transition: all 0.25s ease-out;
}
.btn1:hover {
  color: white;
}
.btn1:hover:before {
  transform: scale(1) translateZ(0);
}

.btn2 {
  transition: all 0.4s;
}
.btn2:before {
  top: 50%;
  left: 50%;
  width: 200%;
  height: 0;
  transform: translate3d(-50%, -50%, 0) rotate(45deg);
  transition: all 0.45s;
}
.btn2:hover {
  color: black;
}
.btn2:hover:before {
  height: 400%;
}


.button:focus,.button:active{
  background:white;
  color: black;
}

.slots{
  margin-left: auto; 
margin-right: 5%;
}
.impFont{
  padding: 2rem;
  font-size: 1.5rem;
  overflow: hidden;
}

.topbtn{
  display: inline-block;
  margin-bottom: 30px;
  margin-top:30px;
  color: #1c1c1c;
  text-transform: uppercase;
  text-decoration: none;
  position: relative;
  overflow: hidden;
  padding: 8px 20px;
  background: #fff;
  letter-spacing: 1px;
  border: solid thin;
}
  .topbtn:focus{
  background:#1c1c1c;
  color: #fff;
}

.accor {
    margin: 7px;
    transition: 0.4s;
    
  }

  .accor .tab {
    background: #272727;
    color: #fff;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    max-width: 100%;
    text-align: center;
    cursor: pointer;
    

  }
  .accor .tab span{
  margin-right: 1.5rem;
  
  }


  .accor .expand {
    background: #fafafa;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: 700ms ease; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    background: #1c1c1c;
    color: #00ffb9;
  }

  .accor.active > .expand {
    background: #1c1c1c;
    color: #00ffb9;
    width: 100%;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    border-bottom: 1px solid #00ffb9;
    border-top: 1px solid #00ffb9;
    font-family: Garamond, Baskerville, "Baskerville Old Face", "Hoefler Text", "Times New Roman", serif;
    max-height: 600px;
   }